<div class="container">
    <div class="row" >
        <div class="col" >
            <img src="../../../assets/img/hotel_in_barcelona.png" class="img-thumbnail" alt="...">
        </div>
    </div>

    <div class="row" *ngIf="shared.appear==true" style="margin-top:2vh;">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
            </div>
        </div>
    </div>
</div>

