<div class="card" style="--bs-bg-opacity: .5;border:1px black solid; background-color:rgb(253, 175, 175);">
    <div class="card-body py-5 px-md-5">
        <div class="center d-flex align-items-center" style="width:55vh;height: 65vh;">
            <form style="width:100%">
                <h2 class="fw-bold mb-5" style="text-align: center;color:#f70577;">Register</h2>

                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-floating">
                        <input
                          type="text"
                          id="floatingInput"
                          class="form-control"
                          placeholder="First name"
                          style="background: rgb(237, 200, 200);"
                        />
                        <label for="floatingInput">First Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-floating">
                        <input
                          type="text"
                          id="form3Example2"
                          class="form-control"
                          placeholder="Last name"
                          style="background: rgb(237, 200, 200);"
                        />
                        <label for="form3Example2">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-floating">
                        <input
                          type="text"
                          id="form3Example1"
                          class="form-control"
                          placeholder="User"
                          style="background: rgb(237, 200, 200);"
                        />
                        <label for="form3Example1">User</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-floating">
                        <input
                        type="password"
                        id="form3Example4"
                        class="form-control"
                        placeholder="Password"
                        style="background: rgb(237, 200, 200);"
                  />
                  <label for="form3Example4">Password</label>

                      </div>
                    </div>
                  </div>
                <!-- Email input -->
                <div class="form-floating mb-4">
                  <input type="user" id="form3Example3" class="form-control" placeholder="Email" style="background: rgb(237, 200, 200);"/>
                  <label for="form3Example3">Email</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <a class="btn" href="#" role="button" style="background-color:rgb(252, 240, 165);">Register</a>
                </div>
              </form>
        </div>
    </div>
</div>
