<div *ngIf="hoteles!=null; else espera" class="container-fluid mt-4 mb-4">
  <div *ngFor="let hotel of hoteles" class="row" >
          <app-cardhotels style="margin-bottom: 2vh;" [hotel]="hotel"></app-cardhotels>



    <!--<div *ngIf="hotel.poblacion==shareDataService.ciudad">
        <app-cardhotels></app-cardhotels>
      </div>-->
  </div>
  <div *ngIf="contadorService.contador==0" >
    No se ha encontrado ningún resultado
  </div>
</div>
<ng-template #espera>Buscando tus hoteles...</ng-template>





