<div class="container">
    <div class="row rounded" style="border:2px gray solid;">
        <div class="col-12 col-xs-12 col-mg-12 col-lg-2 col-xl-4 d-flex align-items-center justify-content-center">
            <img class="imagen-hotel rounded  " src="../../assets/img/hotel_in_barcelona.png" alt="hotee_barcelona">
        </div>
        <div class="col-12 col-xs-12 col-mg-12 col-lg-10 col-xl-8 d-flex align-items-center justify-content-center pb-2 pt-2">
            <div>
                <h2 class="fw-bold" style="text-align: center;color:#f70577;">Hotel 1 Barcelona</h2>
                <h6 style="text-align: center;">⭐⭐⭐⭐⭐</h6>
                <p style="text-align: justify; padding-right: 4vh;padding-left: 4vh;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn" href="/hotel" role="button"
                            style="border:0px;background-color:rgb(253, 175, 175); margin-top:1vh;">More information</a>
                    </div>
            </div>
        </div>
    </div>
</div>
