<div class="container">
    <div class="row rounded" style="border:2px gray solid;">
        <div class="col-12 col-xs-12 col-mg-12 col-lg-2 col-xl-4 d-flex align-items-center justify-content-center">
            <img class="imagen-hotel rounded  " src="../../assets/img/hotel_in_barcelona.png" alt="hotee_barcelona">
        </div>
        <div class="col-12 col-xs-12 col-mg-12 col-lg-10 col-xl-8 d-flex align-items-center justify-content-center pb-2 pt-2">
            <div>
                <h2 class="fw-bold" style="text-align: center;color:#f70577;">{{hotel.nombre}} - {{hotel.poblacion}}</h2>
                <h6 style="text-align: center;" *ngIf="hotel.categoria==1">⭐</h6>
                <h6 style="text-align: center;" *ngIf="hotel.categoria==2">⭐⭐</h6>
                <h6 style="text-align: center;" *ngIf="hotel.categoria==3">⭐⭐⭐</h6>
                <h6 style="text-align: center;" *ngIf="hotel.categoria==4">⭐⭐⭐⭐</h6>
                <h6 style="text-align: center;" *ngIf="hotel.categoria==5">⭐⭐⭐⭐⭐</h6>
                <p style="text-align: center; padding-right: 4vh;padding-left: 4vh;">{{hotel.descripcion}}</p>

                        <a routerLink="/hotel" (click)="enviarInfo()" style="border:0px;background-color:rgb(253, 175, 175); margin-top:1vh;">More information</a>

            </div>
        </div>
    </div>
</div>
