.row{
    background-color: rgb(246, 234, 234);
}
.imagen-hotel{
    height:100%;
    width:30vh;
}
/*Cards*/
.cards{

  margin-bottom: 2vh;
}
.visitado{
  color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.cartas{
  padding-left: 5vh;

  animation: myAnim 1s ease 0s 1 normal forwards;
  /* animation-delay: 1ms; */
}
