<table class="table table-striped" style="margin-top:5vh;">
    <thead>
      <tr>
        <th scope="col" style="text-align:center;">#</th>
        <th scope="col" style="text-align:center;">Hotel</th>
        <th scope="col" style="text-align:center;">Tipo de habitación</th>
        <th scope="col" style="text-align:center;">Ciudad</th>
        <th scope="col" style="text-align:center;">País</th>
        <th scope="col" style="text-align:center;">Fecha Entrada</th>
        <th scope="col" style="text-align:center;">Fecha Salida</th>
        <th scope="col" style="text-align:center;">Precio Total</th>
        <th scope="col" style="text-align:center;">PDF</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align:center;">1</th>
        <td style="text-align:center;">Mark</td>
        <td style="text-align:center;">Otto</td>
        <td style="text-align:center;">@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

<button (click)="createPDF()">Crear Pdf</button>
