<div class="table-responsive">
  <table class="table table-striped" style="margin-top:5vh;">
    <thead>
      <tr>
        <th scope="col" style="text-align:center;">#</th>
        <th scope="col" style="text-align:center;">Hotel</th>
        <th scope="col" style="text-align:center;">Tipo de habitación</th>
        <th scope="col" style="text-align:center;">Ciudad</th>
        <th scope="col" style="text-align:center;">País</th>
        <th scope="col" style="text-align:center;">Fecha Entrada</th>
        <th scope="col" style="text-align:center;">Fecha Salida</th>
        <th scope="col" style="text-align:center;">Precio Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of userService.todasReservas">
        <th scope="row" style="text-align:center;">1</th>
        <td style="text-align:center;">{{reserva.id_habitacion.hotel.nombre}}</td>
        <td style="text-align:center;">{{reserva.id_habitacion.tipo}}</td>
        <td style="text-align:center;">{{reserva.id_habitacion.hotel.poblacion}}</td>
        <td style="text-align:center;">{{reserva.id_habitacion.hotel.pais}}</td>
        <td style="text-align:center;">{{reserva.id_factura.fecha_inicio.slice(0,10)}}</td>
        <td style="text-align:center;">{{reserva.id_factura.fecha_fin.slice(0,10)}}</td>
        <td style="text-align:center;">{{reserva.precio_final}} €</td>
      </tr>
    </tbody>
  </table>
</div>


