<div class="card" style="--bs-bg-opacity: .5;border:1px black solid; background-color:rgb(252, 240, 165);">
    <div class="card-body py-5 px-md-5">
        <div class="center d-flex align-items-center" style="width:55vh;height: 65vh;">
            <form style="width:100%;">
                <h2 class="fw-bold mb-5" style="text-align: center;color:#f70577;">Login</h2>

                <!-- Email input -->
                <div class="form-floating mb-4">
                    <input type="user" [(ngModel)]="user.username" name="username" id="form3Example3" class="form-control" placeholder="User"
                        style="background: rgb(237, 200, 200);width: 100%;" />
                        <label for="form3Example3">User</label>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-4">
                    <input type="password" [(ngModel)]="user.password" name="password" id="form3Example4" class="form-control" placeholder="Password"
                        style="background: rgb(237, 200, 200);" />
                        <label for="form3Example4">Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                        Remember me
                    </label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn" (click)="login()" role="button" style="background-color:rgb(253, 175, 175);">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
