<!--Banner-->
<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
                <a href="/search"><img src="../../assets/img/barcelona2.jpg" class="d-block w-100" alt="Barcelona"></a>
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>Barcelona</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="7000">
                <a href="/search"><img src="../../assets/img/california2.jpg" class="d-block w-100" alt="California"></a>
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>California</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="7000">
                <a href="/search"><img src="../../assets/img/paris2.jpg" class="d-block w-100" alt="Paris"></a>
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>Paris</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="7000">
                <a href="/search"><img src="../../assets/img/osaka2.jpg" class="d-block w-100" alt="Osaka"></a>
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>Osaka</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="7000">
                <a href="/search"><img src="../../assets/img/honolulu2.jpg" class="d-block w-100" alt="Honolulu"></a>
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>Honolulu</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
