<!--Banner-->
<div class="container-fluid">
  <div class="card">
      <div class="card-body">
          <div id="carouselExampleIndicators" class="carousel carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="7000">
                      <img src="../../assets/img/barcelona2.jpg" class="d-block w-100" alt="Barcelona">
                      <div class="carousel-caption">
                          <div class="row">
                              <div class="col-3 col-lg-4"></div>
                              <div class="col-6 col-lg-4">
                                  <h5>Barcelona</h5>
                              </div>
                              <div class="col-3 col-lg-4"></div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                      <img src="../../assets/img/california2.jpg" class="d-block w-100" alt="California">
                      <div class="carousel-caption">
                          <div class="row">
                              <div class="col-3 col-lg-4"></div>
                              <div class="col-6 col-lg-4">
                                  <h5>California</h5>
                              </div>
                              <div class="col-3 col-lg-4"></div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                      <img src="../../assets/img/paris2.jpg" class="d-block w-100" alt="Paris">
                      <div class="carousel-caption">
                          <div class="row">
                              <div class="col-4 col-lg-5"></div>
                              <div class="col-4 col-lg-2">
                                  <h5>Paris</h5>
                              </div>
                              <div class="col-4 col-lg-5"></div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                      <img src="../../assets/img/osaka2.jpg" class="d-block w-100" alt="Osaka">
                      <div class="carousel-caption">
                          <div class="row">
                              <div class="col-3 col-lg-4"></div>
                              <div class="col-6 col-lg-3">
                                  <h5>Osaka</h5>
                              </div>
                              <div class="col-3 col-lg-5"></div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                      <img src="../../assets/img/honolulu2.jpg" class="d-block w-100" alt="Honolulu">
                      <div class="carousel-caption">
                          <div class="row">
                              <div class="col-3 col-lg-4"></div>
                              <div class="col-6 col-lg-4">
                                  <h5>Honolulu</h5>
                              </div>
                              <div class="col-3 col-lg-4"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>
</div>
