<div class="card" style="--bs-bg-opacity: .5;border:1px black solid; background-color:rgb(253, 175, 175);">
    <div class="card-body py-5 px-md-5">
        <div class="center d-flex align-items-center" style="width: 55vh;height: 65vh;">
            <form style="width:100%;">
                <h2 class="fw-bold mb-5" style="text-align: center;color:#f70577;">Register</h2>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn" routerLink="/register" role="button"
                        style="border:0px;background-color:rgb(252, 240, 165); margin-top:1vh;">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
