<app-header></app-header>
<app-search-bar style="padding-top: 100vh;"></app-search-bar>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12" style="height:50vh;padding-bottom:2vh;"><app-mapa *appRecargaMaps="shareDataService.numero"></app-mapa></div>
    </div>
</div>
<!-- <div *ngIf="hoteles!=null; else espera" class="container-fluid mt-4 mb-4">
    <div *ngFor="let hotel of hoteles" class="row" >
            <app-cardhotels style="margin-bottom: 2vh;" *ngIf="shareDataService.ciudad==null && hotel.pais==shareDataService.pais" [hotel]="hotel"></app-cardhotels>
            <app-cardhotels style="margin-bottom: 2vh;" *ngIf="shareDataService.ciudad!=null && hotel.poblacion==shareDataService.ciudad  && hotel.pais==shareDataService.pais" [hotel]="hotel"></app-cardhotels> -->


      <!--<div *ngIf="hotel.poblacion==shareDataService.ciudad">
          <app-cardhotels></app-cardhotels>
        </div>-->
    <!-- </div>
    <div *ngIf="contadorService.contador==0" >
      No se ha encontrado ningún resultado
    </div>
</div>
<ng-template #espera>Buscando tus hoteles...</ng-template> -->
<app-newform *appRecargaMaps="shareDataService.numero"></app-newform>
