<!--cards-->
<div class="container-fluid cards">
  <div class="row"><h2 class="visitado">Top Hotels</h2></div>
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 cartas d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="../../assets/img/hotel_in_barcelona.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Barcelona's Hotel</h5>
            <p class="card-text">Nice hotel in Barcelona.</p>
            <a href="/hotel" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 cartas d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="../../assets/img/hotel_in_california.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">California's Hotel</h5>
            <p class="card-text">Nice hotel in California.</p>
            <a href="/hotel" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 cartas d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="../../assets/img/hotel_in_hawaii.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Hawaii's Hotel</h5>
            <p class="card-text">Nice hotel in Hawaii.</p>
            <a href="/hotel" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 cartas d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="../../assets/img/hotel_in_paris.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Paris' Hotel</h5>
            <p class="card-text">Nice hotel in Paris.</p>
            <a href="/hotel" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
