  <!--Navegación-->
  <div class="container-fluid tm-home-section-1" id="more">
    <div class="row">
        <div class="col-lg-3 columna"></div>
        <div class="col-lg-6 columna-medio" style="z-index: 100;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <nav class="navbar">
                            <form class="container-fluid">
                                <div class="input-group">

                                  <input type="text" #inputPlaces id="inputPlaces" class="form-control" placeholder="Busqueda" aria-label="Search"
                                  aria-describedby="basic-addon1" [(ngModel)]="busqueda">

                                  <a class="btn" role="button" (click)="buscador()" style="border:0px;background-color:rgb(253, 175, 175);">Búsqueda</a>
                                  <div class="mapa" #divMap></div>
                                </div>
                            </form>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Categoría</label>
                            <select class="form-control" [(ngModel)]="categoria" name="categoria" id="exampleFormControlSelect1">
                                <option value=0></option>
                                <option value=1>⭐</option>
                                <option value=2>⭐⭐</option>
                                <option value=3>⭐⭐⭐</option>
                                <option value=4>⭐⭐⭐⭐</option>
                                <option value=5>⭐⭐⭐⭐⭐</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Desayuno</label>
                            <select class="form-control" [(ngModel)]="desayuno" id="exampleFormControlSelect1">
                                <option value="a"></option>
                                <option value="no">No incluido</option>
                                <option value="yes">Incluido</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Precio Máximo</label>
                            <input class="form-control" [(ngModel)]="precio">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 columna"></div>
    </div>
</div>
