  <!--Navegación-->
  <div class="container-fluid tm-home-section-1" id="more">
    <div class="row">
        <div class="col-lg-3 columna"></div>
        <div class="col-lg-6 columna-medio" style="z-index: 100;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <nav class="navbar">
                            <form class="container-fluid">
                                <div class="input-group">

                                  <input type="text" #inputPlaces id="inputPlaces" class="form-control" placeholder="Search" aria-label="Search"
                                  aria-describedby="basic-addon1">

                                  <a class="btn" href="/search" role="button" style="border:0px;background-color:rgb(253, 175, 175);">Search</a>
                                  <div class="mapa" #divMap></div>
                                </div>
                            </form>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Stars</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option></option>
                                <option>⭐</option>
                                <option>⭐⭐</option>
                                <option>⭐⭐⭐</option>
                                <option>⭐⭐⭐⭐</option>
                                <option>⭐⭐⭐⭐⭐</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Breakfast</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option></option>
                                <option>YES</option>
                                <option>NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Price Range</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option></option>
                                <option>
                                    < 25€ </option>
                                <option>25€ - 50€</option>
                                <option>50€ - 75€</option>
                                <option>75€ - 100€</option>
                                <option> > 100€</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 columna"></div>
    </div>
</div>
